<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.pemicro.debug.gdbjtag.pne.launchConfigurationType">
<stringAttribute key="com.pemicro.debug.gdbjtag.pne.PE.DEVICE_NAME" value="K22DX256M5"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/veloblingbling.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="veloblingbling"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/veloblingbling"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
